@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;800&display=swap');

*,
*::before,
*::after {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #859A9E, #949BA0);

    /* background-color: #949BA0; */
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
}

iframe {
    display: block;
    width: 100%;
    border: none;
    margin: 0;
}

header {
    position: relative;
    z-index: 9999;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #859A9E; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

header nav {
    /* Modifiez cette ligne */
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #000000;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search {
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    height: 1.3px;
    width: 52%;
    background-color: #fff;
    border-radius: 2px;

}

.hamburger .bar::before,
.hamburger .bar::after {
    content: " ";
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    right: 50%;
    height: 100%;
    width: 52%;
    background-color: #fff;
    border-radius: 2px;

}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

main {
    height: 100vh;

}

.list-container-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.list-container {
    overflow: hidden;
    margin: 20px;
}

.custom-list {
    list-style: none;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
    height: 300px;
    width: 200px;
    background-color: white;
}

.list-item {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;

}

.list-item-icon {
    margin-right: 20px;
}

.title {
    align-items: center;
    justify-content: center;
    display: flex;
}

.list-title {
    color: black;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.section-title {
    color: black;
    padding: 10px;
    font-size: 5rem;
    font-weight: 00;
    text-align: center;
    margin: 0;
}

.activity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activity img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #b3b3b3;
}

.activity-details {
    padding: 20px;
    text-align: center;

}

h2,
p {
    margin-bottom: 10px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

.project {
    position: relative;
    margin: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.project img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
    text-align: center;
}

.icon-button {
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    width: 40px;
    height: 40px;
}



.project:hover .project-details {
    opacity: 1;
}

.project-details h3,
.project-details p {
    margin: 5px;
}

.columns {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumping-image {
    /* position: relative; */
    animation: jump 1s infinite alternate;
}

.jumping-image img {
    width: 40px;
    height: 40px;
    /* Adjust the size of the image */
    height: auto;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
        /* Adjust the jump height */
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: right;
    padding: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}